.cards-container {
    max-width: 600px;
    margin: 0 auto;    
    margin-top: 20px; 
}

.card-content {
    margin-bottom: 30px;
    padding: 20px 15px 20px 15px;
    letter-spacing: .01em;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.card-question {
    font-weight: 500;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .card-question {
        font-size: 18px;
    }
}

.card-choices {
    margin-top: 5px;
    margin-bottom: 15px;
}

.card-choice-radio-group {
    display: block;
}

.card-choice-radio {
    display: block;
    line-height: 1.7;
    font-size: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.75);
}

.separator {
    margin-left: 10px;
    margin-right: 10px;
    color: #8899A6;
}

.cv-card-choice {
    position: relative;
    margin-bottom: 8px;
}

.cv-poll-choice-details {
    position: relative;
    z-index: 1;
    display: block;
    line-height: 1.7;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cv-choice-percentage {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.75);
}

.cv-choice-text {
    margin-left: 10px;
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.selected-choice-icon {
    margin-left: 10px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.75);
}

.cv-choice-percent-chart {
    position: absolute;
    background: #E1E8ED;    
    top: 0;
    left: 0;
    height: 100%;
    border-radius: .35em;
    transition: all .3s cubic-bezier(0.5,1.2,.5,1.2);
    opacity: 1;
}

.cv-choice-percent-chart.winner {
    background-color: #77C7F7;
}

.card-creator-info {
    margin-left: 58px;
    margin-bottom: 10px;
    height: 58px;
}

.card-creator-info .creator-link {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card-creator-info .creator-link:hover {
    color: #1890ff;
    text-decoration: underline;
}

.card-creator-avatar {
    float: left;
    margin-top: 3px;
    margin-left: -58px;
    position: absolute;
    width: 48px;
    height: 48px;
    line-height: 48px;
    border-radius: 24px;    
}

.card-creator-avatar > * {
    line-height: 48px;
    font-size: 18px;
}

.poll-creator-username {
    color: #657786;
    font-size: 15px;
    display: inline-block;  
}

.poll-creation-date {
    display: block; 
    color: #657786;
    font-size: 13px;
    margin-top: 2px;
}

/**********************************************************************************/

.new-card-container {
    max-width: 520px;
    margin: 0 auto;
    margin-top: 40px;
}

.create-poll-form-button {
    width: 100%;
}

.create-poll-form-button[disabled], .create-poll-form-button[disabled]:hover, .create-poll-form-button[disabled]:focus {
    opacity: 0.6;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
}


.dynamic-delete-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: #999;
    transition: all .3s;
}

.optional-choice {
    width: calc(100% - 35px);
    margin-right: 8px;
}

.dynamic-delete-button:hover {
    color: #777;
}

.dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.card-form-row {
    margin-bottom: 20px;
}

.card-form-row input, .card-form-row textarea {
    margin-bottom: 4px;
}